.row{
    padding: 25px;
    background-color: aquamarine 
}
.contenedor{
    width: auto;
}
.parte1, parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px black;
    box-shadow: ejex ejey difumacion color;
}