.perfil{
    width: 105px;
    height: 146px;
    margin-top: -90px;
    margin-left: 50px;
}

.about{
    width: 666px;
    height: 100px;
    margin-left: 150px;
    margin-top: -30px;
}

.nombre{
    margin-left: 125px;
}