<div class="toolbar" role="banner">
    <img
      width="350"
      alt="AP Logo"
      src="../assets/Logo_Arg_Prog.png"
    />
    <span id="text">#YoProgramo</span>
      <a aria-label="Hernan Coronati Instagram" target="_blank" rel="noopener" href="https://instagram.com/hernancoronati" title="Instagram">
        <img id="logo" src="../assets/Insta.png"/>
      </a>
      <a aria-label="Hernan Coronati Facebook" target="_blank" rel="noopener" href="https://instagram.com/hernancoronati" title="Instagram">
        <img id="logo" src="../assets/Face.png"/>
      </a>
      <a aria-label="Hernan Coronati Instagram" target="_blank" rel="noopener" href="https://instagram.com/hernancoronati" title="Instagram">
        <img id="logo" src="../assets/Insta.png"/>
      </a>
      <a aria-label="Hernan Coronati Instagram" target="_blank" rel="noopener" href="https://instagram.com/hernancoronati" title="Instagram">
        <img id="logo" src="../assets/Insta.png"/>
      </a>
      
      <button type="button" class="btn btn-primary">Login</button>

  </div>

<div class="container">
        <img class="bannerimg" src="../../../assets/banner.png" alt="">
</div>