
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #8e9aa7;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
    
  }

  .toolbar #logo {
    height: 50px;
    margin: 0 16px;
    
  }

  .toolbar #login {
    margin: 0 16px;
    margin-right: 0.5cm;
    
  }

  .toolbar #logo:hover {
    opacity: 0.8;
  }
  .toolbar #text {
    font-size: 20px;
  }

  .bannerimg{
    width: 75%;
    height: 250px;
    position: relative;
    margin: 120px auto;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: auto;
}