.perfil{
    width: 105px;
    height: 126px;
    margin-top: -70px;
    margin-left: 120px;
}

.about{
    width: 666px;
    height: 100px;
    margin-left: 100px;
    margin-top: -30px;
}

.nombre{
    width: 100px;
    height: 150px;
    margin-top: 10px;
    margin-left: 90px;
}
.row{
    padding: 20px;
}
/*estilo foto perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 10%;
        /*border-radius: 100%;*/
        box-shadow: 3px 3px 3px grey;
        left: 5%;
        top: 350px;
    }
}